html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    margin: 0;
    padding-top: 70px;
    box-sizing: border-box;
    background: linear-gradient(to bottom right, rgb(0, 59, 77), rgb(0, 31, 99), rgb(3, 0, 46));
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    }
nav{
    background: rgb(94, 94, 94);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    line-height: 70px;
    text-align: center;
    z-index: 1000;
    margin: 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}
nav a{
    padding: 5%;
    color: azure;
    font-size: 20px;
    border: 1px;
    text-decoration: none;
}
h1{
    color: aliceblue;
    padding-left: 2%;
}
p{
    width: 900px;
    color: aliceblue;
    padding-left: 2%;
    font-size: 20px;
}
.sclass {
    float: right;
    width: 700px;
    margin: 10px 100px 50px 30px;
    border-radius: 5%;
}
.sclass2 {
    float: right;
    clear: right;
    width: 700px;
    height: auto;
    margin: 10px 100px 50px 0px;
    border-radius: 5%;
}
.sclass3 {
    float: right;
    clear: right;
    width: 700px;
    height: auto;
    margin: 10px 100px 0px 0px;
    border-radius: 5%;
}
video{
    margin: 0 0 20px 70px;
    border-radius: 10%;
}
.eclass {
    float: right;
    clear: right;
    width: 600px;
    height: 400px;
    border-radius: 5%;
    margin: 0px 200px 50px 100px;
    }
.eclassvideo {
    float: right;
    clear: right;
    width: 600px;
    height: auto;
    margin: 10px 200px 20px 30px;
    border-radius: 5%;
}
.cclass {
    float: right;
    width: 700px;
    margin: 0px 100px 70px 20px;
    border-radius: 5%;
    height: auto;
}
.cclass2 {
    float: right;
    clear: right;
    width: 700px;
    height: auto;
    margin: 10px 100px 70px 0px;
    border-radius: 5%;
}
.cclass3 {
    float: right;
    clear: right;
    width: 700px;
    height: auto;
    margin: 10px 100px 0px 0px;
    border-radius: 5%;
}
hr{
    color: aliceblue;
    }
footer {
    background: rgba(0, 0, 0, 0.4);
    padding: 30px 20px;
    text-align: center; 
    color: aliceblue;
    flex-shrink: 0;
    margin-top: auto;
}
footer p {
    width: auto;
    margin: 0 0 15px 0;
    font-size: 18px;
    color: #ffffff;
}
footer a {
    color: #66b2ff;
    text-decoration: none;
    font-size: 18px;
    
}
footer a:hover {
    text-decoration: underline;
}
footer a:visited{
    color: purple;
}